body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  margin: 0 0;
  background-color: #ffffff;
  position: relative;
}

img {
  display: block;
}

header {
  display: block;
  width: 1100px;
  border-bottom: 1px solid #e7e9fc;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.header-div {
  display: flex;
  width: 1158px;
}

.header-flex-container {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  height: 75px;
}

.header-nav-flex-container {
  display: flex;
  gap: 76px;
  align-items: center;
}

.header-link-flex-container {
  display: flex;
  gap: 40px;
}

.header-address-flex-container {
  display: flex;
  gap: 40px;
}

.body-medium {
  font-weight: 600;
}

h1 {
  font-weight: 700;
  font-size: 56px;
  letter-spacing: 0.02em;
  line-height: 1.07;
  text-align: center;
  color: white;
}

.hero-first {
  background-color: #2e2f42;
  padding: 188px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-top: 140px;
}

.hero-header {
  max-width: 496px;
  height: 75px;
}

.hero-down {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  gap: 24px;
}

.hero-down-list {
  display: flex;
  flex-direction: column;
  gap: 0px;
  justify-content: center;
  align-items: center;
  width: 264px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.advantages-strategy {
  margin-bottom: 8px;
}

.strategy-paragraf {
  margin-top: 0px;
}

.h2 {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.02em;
  font-family: "Roboto", sans-serif;
  line-height: 40px;
  text-align: center;
  line-height: 1.11;
  text-transform: capitalize;
  color: #2e2f42;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 24px;
  color: #2e2f42;
}

button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 0.04em;
  line-height: 1.5;
  background-color: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:focus {
  background-color: #404bbf;
}

button:hover {
  background-color: #404bbf;
}

header li a:hover {
  color: #404bbf;
}

header li a:focus {
  color: #404bbf;
}

ul a {
  text-decoration: none;
  color: #434455;
  font-style: normal;
  letter-spacing: 0.02em;
}

li {
  list-style-type: none;
}

nav {
  font-family: "Raleway", sans-serif;
}

ul a:hover {
  color: #434455;
}

ul a:focus {
  color: #404bbf;
}

span {
  color: #2e2f42;
}

.logo {
  text-decoration-color: #4d5ae5;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-transform: uppercase;
  display: block;
  text-decoration: none;
  margin-right: 76px;
}

footer {
  background-color: #2e2f42;
}

.our-team {
  background-color: #f4f4fd;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.our-team li {
  background-color: white;
  width: 265px;
}

.our-team img {
  border-style: groove;
  border-width: 1px;
  border-color: #2e2f42;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}

.our-team-header {
  text-align: center;
  font-size: 36px;
}

.our-team-name {
  text-align: center;
}

.our-team-paragraf {
  text-align: center;
  padding-bottom: 20px;
}

.our-team-ul {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.our-portfolio-section {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}

.our-portfolio-header {
  font-size: 36px;
  text-align: center;
  margin-top: 120px;
}

.our-portfolio-ul {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 100px;
  justify-content: flex-start;
  align-items: center;
  margin-left: 200px;
  padding-left: 150px;
  width: 1600px;
  text-align: center;
}

.our-portfolio-li {
  padding-top: 0px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

address {
  font-style: normal;
}

p {
  letter-spacing: 0.02em;
  font-size: 16px;
}

.footer-paragraf {
  color: #f4f4fd;
  max-width: 264px;
}

.body-medium {
  color: #2e2f42;
  padding: 24px 0;
}

.header-studio {
  font-family: "Raleway", sans-serif;
}

.footer-studio {
  font-family: "Raleway", sans-serif;
  color: #f4f4fd;
}

.footer-class {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 400px;
}

footer {
  margin-top: 150px;
}
